<a href="https://colab.research.google.com/github/House321/CSC_221_jbarr029/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# TIY 3.1
names = ["Billy", "Bob", "Joe", "Frank"]

for name in names:
    print(name)

Billy
Bob
Joe
Frank

In [2]:
#TIY 3.2
for name in names:
    print(f"Hello, {name}!")

Hello, Billy!
Hello, Bob!
Hello, Joe!
Hello, Frank!

In [3]:
# TIY 3.3
transportation = ["motorcycle", "car", "bicycle", "train"]

for item in transportation:
    print(f"I would like to own a {item.capitalize()}.")

I would like to own a Motorcycle.
I would like to own a Car.
I would like to own a Bicycle.
I would like to own a Train.

In [4]:
# TIY 3.4

guests = ["Saul Goodman", "Jesse Pinkman", "Walter White"]

for guest in guests:
    print(f"Dear {guest}, I would like to invite you to dinner.")

Dear Saul Goodman, I would like to invite you to dinner.
Dear Jesse Pinkman, I would like to invite you to dinner.
Dear Walter White, I would like to invite you to dinner.

In [5]:
# TIY 3.5

guests = ["Saul Goodman", "Jesse Pinkman", "Walter White"]
not_guest = guests.pop(1)
new_guest = "Gustavo Fring"
guests.append(new_guest)

for guest in guests:
    print(f"Dear {guest}, I would like to invite you to dinner.")
print(f"\nUnfortunately, {not_guest} can't make it.")

Dear Saul Goodman, I would like to invite you to dinner.
Dear Walter White, I would like to invite you to dinner.
Dear Gustavo Fring, I would like to invite you to dinner.

Unfortunately, Jesse Pinkman can't make it.

In [6]:
# TIY 3.6

print("\nGreat news! We found a bigger dinner table.")
guests.insert(0, "Joe Rogan")
guests.insert(2, "Keanu Reeves")
guests.append("Scobby Doo")

for guest in guests:
    print(f"Dear {guest}, I would like to invite you to dinner.")

Great news! We found a bigger dinner table.
Dear Joe Rogan, I would like to invite you to dinner.
Dear Saul Goodman, I would like to invite you to dinner.
Dear Keanu Reeves, I would like to invite you to dinner.
Dear Walter White, I would like to invite you to dinner.
Dear Gustavo Fring, I would like to invite you to dinner.
Dear Scobby Doo, I would like to invite you to dinner.

In [7]:
# TIY 3.7

print("\nUnfortunately, our new dinner table won't arrive in time for the dinner. We can only invite two people.")
while len(guests) > 2:
    removed_guest = guests.pop()
    print(f"Sorry {removed_guest}, we won't be able to invite you to dinner.")

for guest in guests:
    print(f"Dear {guest}, you're still invited to dinner.")

del guests[:]
print("\nOur guest list is now empty:", guests)

Unfortunately, our new dinner table won't arrive in time for the dinner. We can only invite two people.
Sorry Scobby Doo, we won't be able to invite you to dinner.
Sorry Gustavo Fring, we won't be able to invite you to dinner.
Sorry Walter White, we won't be able to invite you to dinner.
Sorry Keanu Reeves, we won't be able to invite you to dinner.
Dear Joe Rogan, you're still invited to dinner.
Dear Saul Goodman, you're still invited to dinner.

Our guest list is now empty: []

In [8]:
# TIY 3.8

places_to_visit = ["Tokyo", "Madrid", "London", "Dubai", "Buenos Aires"]

print("Original order:")
print(places_to_visit)

print("\nAlphabetical order:")
print(sorted(places_to_visit))

print("\nOriginal order again:")
print(places_to_visit)

print("\nReverse-alphabetical order:")
print(sorted(places_to_visit, reverse=True))

print("\nOriginal order again:")
print(places_to_visit)

places_to_visit.reverse()
print("\nReversed order:")
print(places_to_visit)

places_to_visit.reverse()
print("\nBack to original order:")
print(places_to_visit)

places_to_visit.sort()
print("\nSorted in alphabetical order:")
print(places_to_visit)

places_to_visit.sort(reverse=True)
print("\nSorted in reverse-alphabetical order:")
print(places_to_visit)

Original order:
['Tokyo', 'Madrid', 'London', 'Dubai', 'Buenos Aires']

Alphabetical order:
['Buenos Aires', 'Dubai', 'London', 'Madrid', 'Tokyo']

Original order again:
['Tokyo', 'Madrid', 'London', 'Dubai', 'Buenos Aires']

Reverse-alphabetical order:
['Tokyo', 'Madrid', 'London', 'Dubai', 'Buenos Aires']

Original order again:
['Tokyo', 'Madrid', 'London', 'Dubai', 'Buenos Aires']

Reversed order:
['Buenos Aires', 'Dubai', 'London', 'Madrid', 'Tokyo']

Back to original order:
['Tokyo', 'Madrid', 'London', 'Dubai', 'Buenos Aires']

Sorted in alphabetical order:
['Buenos Aires', 'Dubai', 'London', 'Madrid', 'Tokyo']

Sorted in reverse-alphabetical order:
['Tokyo', 'Madrid', 'London', 'Dubai', 'Buenos Aires']

In [9]:
# TIY 3.9

print("\nNumber of people invited to dinner:", len(places_to_visit))

Number of people invited to dinner: 5

In [10]:
# TIY 3.10

mountains = ["Everest", "K2", "Kangchenjunga", "Lhotse", "Makalu"]

print("\nOriginal list of mountains:", mountains)
print("Appending a new mountain...")
mountains.append("Cho Oyu")
print("After append:", mountains)
print("Inserting a mountain at index 2...")
mountains.insert(2, "Dhaulagiri")
print("After insert:", mountains)
print("Removing 'K2' from the list...")
mountains.remove("K2")
print("After remove:", mountains)
print("Popping the last mountain from the list...")
last_mountain = mountains.pop()
print("Popped mountain:", last_mountain)
print("After pop:", mountains)
print("Sorting the list alphabetically...")
mountains.sort()
print("After sort:", mountains)
print("Reversing the list...")
mountains.reverse()
print("After reverse:", mountains)

Original list of mountains: ['Everest', 'K2', 'Kangchenjunga', 'Lhotse', 'Makalu']
Appending a new mountain...
After append: ['Everest', 'K2', 'Kangchenjunga', 'Lhotse', 'Makalu', 'Cho Oyu']
Inserting a mountain at index 2...
After insert: ['Everest', 'K2', 'Dhaulagiri', 'Kangchenjunga', 'Lhotse', 'Makalu', 'Cho Oyu']
Removing 'K2' from the list...
After remove: ['Everest', 'Dhaulagiri', 'Kangchenjunga', 'Lhotse', 'Makalu', 'Cho Oyu']
Popping the last mountain from the list...
Popped mountain: Cho Oyu
After pop: ['Everest', 'Dhaulagiri', 'Kangchenjunga', 'Lhotse', 'Makalu']
Sorting the list alphabetically...
After sort: ['Dhaulagiri', 'Everest', 'Kangchenjunga', 'Lhotse', 'Makalu']
Reversing the list...
After reverse: ['Makalu', 'Lhotse', 'Kangchenjunga', 'Everest', 'Dhaulagiri']

In [13]:
# TIY 3.11

numbers = [1, 2, 3, 4, 5]

try:
    print(numbers[10])  # This will produce an index error because the list has only 5 elements
except IndexError as e:
    print("Index Error occurred:", e)

print(numbers[2])

Index Error occurred: list index out of range
3