<a href="https://colab.research.google.com/github/House321/CSC_221_jbarr029/blob/main/Class3_Live.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CSC 221 Spring 2024
- Ned Lecky
- Class 3 Live
- 2/5/2024
# Here's what we did .....ndsndsjdn

In [3]:
a = 13
b = 12.5
c = "Fred"

print(a, b, c)

print(type(a))
print(type(b))
print(type(c))

13 12.5 Fred
<class 'int'>
<class 'float'>
<class 'str'>

In [4]:
b = a**123
print(type(b), b)

<class 'int'> 103521923711427330139508660561111399310356231562909825053544787423528887795603512927942762680653876132399975884814583882073552996857463797

In [5]:
f2 = 1/3
print(f2)

0.3333333333333333

In [6]:
print(1/11)

0.09090909090909091

In [7]:
print(c)

Fred

In [9]:
# A-Za-z_ followed by 0-9A-Za-z_

_3abc = 12

In [14]:
# Good and bad variable names
age_in_years = 61
last_name = "Lecky"
first_name = "Ned"

AgeInYears = 61

print(f'age_in_years={age_in_years} and 4 squared is {4**2}')

age_in_years=61 and 4 squared is 16

In [19]:
# Intro to functions and objects
def f1(x):
  y = 3 * x + 2
  return y

def f2(x):
  print(f"Hi I'm f2 and I got {x}")

def f3(x):
  print(f"hi i'm f3 and I got {x}")


y = f1(12)
print(y)

f2(12)
f3(21)

38
Hi I'm f2 and I got 12
hi i'm f3 and I got 21

In [20]:
name = 'ned lecky'

print(name.title())

Ned Lecky

In [23]:
#Roll 1 die 200 times..... what sum do you get????

import random

def roll():
  r = random.randint(1,6)
  return r

for i in range(20):
  print(i, roll())

0 2
1 5
2 2
3 2
4 4
5 3
6 4
7 1
8 5
9 1
10 6
11 3
12 4
13 3
14 2
15 4
16 5
17 2
18 6
19 2

In [24]:
#Roll 1 die 200 times..... what sum do you get????

import random

def roll():
  r = random.randint(1,6)
  return r

def roll_n_times(n):
  total = 0
  for i in range(n):
    r1 = roll()
    total = total + r1
    print(i, r1)
  return total

t1 = roll_n_times(5)
t2 = roll_n_times(13)

0 3
1 2
2 6
3 6
4 1
0 3
1 4
2 5
3 2
4 3
5 5
6 1
7 5
8 6
9 3
10 1
11 2
12 1